.footer__column-links {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
}
